:root {
    --blanco: #f5f5f5;
    --tipografia-principal: 'Roboto', sans-serif;
    --turquesa-oscuro: #455A64;
    --gris-claro: #455A54;
    --enlaces-menu: #FFFFFF80;
    --padding-general: 0 4%;
}